<div class="box">
	<h2>Associated mappings for:
		{{ topic.name|e('html') }}</h2>
</div>
<div>
	To add a mapping, enter a beginning and ending call number and click the "<strong>Add new mapping</strong>" button.
</div>
<br/>
<form method="post" action="add.php">
	<label><input type="radio" name="type" value="lc" checked/> Library of Congress</label>
	<label><input type="radio" name="type" value="dewey"/> Dewey</label>
	<input type="hidden" value="{{ topic.id|e('html') }}" name="id"/>
	<div>
		<div class="clear">
			<fieldset>
				<legend>
					Range begin:
				</legend>
				<div class="column">
					<label for="alphaRangeBegin">Alpha</label>
					<input size="3" type="text" id="alphaRangeBegin" name="alphaStart"/>
				</div>
				<div class="mediumcolumn">
					<label for="numberRangeBegin">Number</label>
					<input size="12" type="text" id="numberRangeBegin" name="numberStart"/>
				</div>
				<div class="column">
					<label for="cutterRangeBegin">Cutter</label>
					<input size="5" type="text" id="cutterRangeBegin" name="cutterStart"/>
				</div>
				<div class="lastcolumn"></div>
			</fieldset>
		</div>
		<div class="clear">
			<fieldset>
				<legend>
					Range end:
				</legend>
				<div class="clear">
					<div class="column">
						<label for="alphaRangeEnd">Alpha</label>
						<input size="3" type="text" id="alphaRangeEnd" name="alphaEnd"/>
					</div>
					<div class="mediumcolumn">
						<label for="numberRangeEnd">Number</label>
						<input size="12" type="text" id="numberRangeEnd" name="numberEnd"/>
					</div>
					<div class="column">
						<label for="cutterRangeEnd">Cutter</label>
						<input size="5" type="text" id="cutterRangeEnd" name="cutterEnd"/>
					</div>
					<div class="lastcolumn"></div>
				</div>
			</fieldset>
		</div>

		<div class="clear">
			<label for="rangeNote">Range note:</label><br/>
			<textarea name="notes" id="rangeNote" rows="5" cols="80"></textarea>
		</div>
		<br/>
		<input type="submit" value="Add new mapping"/><input type="reset" value="Reset form"/>
	</div>
</form>

<div class="box">
	<div>
		To copy one or more ranges to another topic, select each range and click the "<strong>copy selected ranges</strong>" button below.
	</div>
	<div>
		<table class="assignments">
			<tr>
				<th class="dark">Select</th>
				<th class="light">Range Begin</th>
				<th class="light">Range End</th>
				<th class="dark">Notes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
				<th class="light"></th>
				<th class="light"></th>
			</tr>
			{% for assignment in lc %}
          {% set range_label = 'range ' ~ assignment.alphaStart ~ ' ' ~ assignment.numStart ~ ' ' ~ assignment.cutStart ~ ' to ' ~ assignment.alphaEnd ~ ' ' ~ assignment.numEnd ~ ' ' ~ assignment.cutEnd %}
				<tr>
					<td class="dark"><input type="checkbox" name="lc[]" value="{{ assignment.id|e('html') }}" aria-label="Select LC {{ range_label|e('html') }}"/></td>
					<td class="light">
						{{ assignment.alphaStart|e('html') }}
						{{ assignment.numStart|e('html') }}
						{{ assignment.cutStart|e('html') }}
					</td>
					<td class="light">
						{{ assignment.alphaEnd|e('html') }}
						{{ assignment.numEnd|e('html') }}
						{{ assignment.cutEnd|e('html') }}
					</td>
					<td class="dark">
						{{ assignment.notes|e('html') }}
					</td>
					<td class="light">
            <form action="edit.php" method="GET">
              <input type="hidden" name="id" value="{{ assignment.id|e('html') }}"/>
              <input type="hidden" name="type" value="lc"/>
              <input type="submit" value="Edit {{ range_label|e('html') }}"/>
            </form>
					</td>
					<td class="light">
            <form action="delete.php" method="POST">
              <input type="hidden" name="id" value="{{ assignment.id|e('html') }}"/>
              <input type="hidden" name="type" value="lc"/>
              <input type="hidden" name="narrow" value="{{ topic.id|e('html') }}"/>
              <input type="submit" value="Delete {{ range_label|e('html') }}"/>
            </form>
					</td>
				</tr>
			{% endfor %}
			{% for assignment in dewey %}
        {% set range_label = 'range ' ~ assignment.numStart ~ ' to ' ~ assignment.numEnd %}
				<tr>
					<td class="dark"><input type="checkbox" name="dewey[]" value="{{ assignment.id|e('html') }}" aria-label="Select Dewey {{ range_label|e('html') }}"/></td>
					<td class="light">
						{{ assignment.numStart|e('html') }}
					</td>
					<td class="light">
						{{ assignment.numEnd|e('html') }}
					</td>
					<td class="dark">
						{{ assignment.notes|e('html') }}
					</td>
					<td class="light">
            <form action="edit.php" method="GET">
              <input type="hidden" name="id" value="{{ assignment.id|e('html') }}"/>
              <input type="hidden" name="type" value="dewey"/>
              <input type="submit" value="Edit {{ range_label|e('html') }}"/>
            </form>
					</td>
					<td class="light">
            <form action="delete.php" method="POST">
              <input type="hidden" name="id" value="{{ assignment.id|e('html') }}"/>
              <input type="hidden" name="type" value="dewey"/>
              <input type="hidden" name="narrow" value="{{ topic.id|e('html') }}"/>
              <input type="submit" value="Delete {{ range_label|e('html') }}"/>
            </form>
					</td>
				</tr>
			{% endfor %}
		</table>
		<form action="copy.php" method="post" id="copy_form">
			<input type="hidden" value="{{ topic.id|e('html') }}" name="id"/>
			<label for="copyToTopic">Destination topic for copying ranges</label>
			<select name="{{ select.name|e('html') }}" id="copyToTopic" aria-label="Destination topic for copying ranges">
				{% for option in select.options %}
					<option value="{{ option.id|e('html') }}" {% if option.id == select.selected %} selected="true" {% endif %}>{{ option.name|e('html') }}</option>
				{% endfor %}
			</select>

			<input type="submit" value="Copy selected ranges"/>
		</form>
	</div>
</div>
<script type="text/javascript">
const form = document.getElementById('copy_form');
async function sendData() {
  let formData = new FormData(form);
  const inputs = document.querySelectorAll('table.assignments input[type="checkbox"]');
  for (const input of inputs) {
    if (input.checked) {
      formData.append(input.name, input.value);
    }
  }
  try {
    const response = await fetch("copy.php", {
      method: "POST",
      body: formData
    });
    document.location.href = response.url;
  } catch(e) {
    console.error(e);
  }
}
form.addEventListener('submit', (event) => {
  event.preventDefault();
  sendData();
});
</script>
